{
  "printWidth": 110,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "singleAttributePerLine": true,
  "quoteProps": "as-needed",
  "arrowParens": "avoid",
  "proseWrap": "always",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
